---
import KaryaCard from '@/components/KaryaCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import PaginationComponent from '@/components/ui/pagination'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAllKarya, groupKaryaByYear } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allKarya = await getAllKarya()
  return paginate(allKarya, { pageSize: SITE.postsPerPage })
}

const { page } = Astro.props

const karyaByYear = groupKaryaByYear(page.data)
const years = Object.keys(karyaByYear).sort((a, b) => parseInt(b) - parseInt(a))
---

<Layout>
  <PageHead slot="head" title="Karya" />
  <Breadcrumbs
    items={[
      { label: 'Karya', href: '/karya', icon: 'lucide:archive' },
      { label: `Halaman ${page.currentPage}`, icon: 'lucide:folder-open' },
    ]}
  />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
    {
      years.map((year) => (
        <section class="flex flex-col gap-y-4">
          <div class="font-medium">{year}</div>
          <ul class="flex flex-col gap-4">
            {karyaByYear[year].map((sastra) => (
              <li>
                <KaryaCard entry={sastra} />
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>

  <PaginationComponent
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl="/karya/"
    client:load
  />
</Layout>
